name: CI

on:
  pull_request:
    types: ["opened", "reopened", "synchronize"]


env:
  NODE_VERSION: 20

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: chrono_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Perform source code checkout
        uses: actions/checkout@v4

      - name: Setup Node version
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache Package Node Modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.pnpm-store
            node_modules
            packages/*/node_modules
          key: pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-

      - name: Install
        run: |
          npm install -g npm@^11.2.0
          npm install -g pnpm@latest-10
          pnpm install

      - name: Build
        run: pnpm run build
        if: github.ref != 'refs/heads/master'

      - name: Type check
        run: pnpm run typecheck

      - name: Check
        run: pnpm run check
      - name: Lint
        run: pnpm run lint

      - name: Test
        run: pnpm test
        if: github.ref != 'refs/heads/master'
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/chrono_test
